In [1]:
#importing libraries.
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'
import numpy as np
import datetime
import glob
import os
#import warnings
#from pandas.core.common import SettingWithCopyWarning
#warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)
pd.set_option('display.max_columns', None)

In the below code cell, if we want to run the python script make sure the data path below are correct and adjusted to where the data folder is saved.

In [2]:
#setting respective paths in variables.
path_ag = "D:\Project\Capstone Project\Dataset/academic_grades_report"
#path_es = "D:\Project\Capstone Project\Dataset\enrolled_students"
path_es = "Dataset\enrolled_students\enrolled_students_cln_ug_"

#init the datetime module for years.
yr = datetime.datetime.today().year

### Fall Semester

In [3]:
#For the Academic Grades reports.
# merging the files.
joined_files_ag = os.path.join(path_ag, "academic_grades_report_cln_ug_Fall*.csv")
# A list of all joined files is returned.
joined_list_ag = glob.glob(joined_files_ag)
# Finally, the files are joined.
df_ag_Fall = pd.concat(map(pd.read_csv, joined_list_ag), ignore_index=True)
#converting the column names to upper case.
columns = df_ag_Fall.columns
df_ag_Fall.columns = [x.upper() for x in columns]


#df_ag_Fall.rename(columns={'Term_Desc':'TERM_DESC'}, inplace=True)

#setting the semester in a variable.
sem = 'Fall'
#init a list consisting of all the years.
year = list(range(yr-1, yr - 19, -1))


#init a datafrtame for concatenation.
df_es_Fall = pd.DataFrame()

#init of loop for going through all the years files.
for i in year:
    df_es1 = pd.read_csv(str(path_es)+ str(sem)+ str(i) +'.csv', low_memory= False) #importing the respective years csv file.
    df_es_Fall = pd.concat([df_es_Fall, df_es1], axis=0) #vertically stacking all the csv files into the dataframe.


#Filter two column values to get fresh candidates.
df_es_Fall = df_es_Fall.loc[(df_es_Fall['CLAS_DESC']=='Freshman') & (df_es_Fall['STYP_DESC']=='First Time Freshman')]


#replacing existing value with a suitable replacement.
df_es_Fall['RGRP_CODE'].replace(to_replace=['NEW_FR', 'NEWUOPI', 'SA_NEW_1', 'SA_NEW_2', 'SA_NEW_3', 'SA_UOPI_1', 'FR_ORIENT1', 'FR_ORIENT3', 'ALLREG'], value='NEW_FRESH', inplace=True)


#merging the academic grade and enrolled student datasets.
df_grfresh_Fall = df_ag_Fall.merge(df_es_Fall, on=['PIDM', 'CURR_1_1_MAJR_DESC','TERM_DESC'], how='inner')

#inspecting the count of observations and features.
df_grfresh_Fall.shape

(57595, 242)

### Spring Semester

In [4]:
#For the Academic Grades reports.
# merging the files.
joined_files_ag = os.path.join(path_ag, "academic_grades_report_cln_ug_Spring*.csv")
# A list of all joined files is returned.
joined_list_ag = glob.glob(joined_files_ag)
# Finally, the files are joined.
df_ag_Spring = pd.concat(map(pd.read_csv, joined_list_ag), ignore_index=True)
#converting the column names to upper case.
columns = df_ag_Spring.columns
df_ag_Spring.columns = [x.upper() for x in columns]


#df_ag_Spring.rename(columns={'Term_Desc':'TERM_DESC'}, inplace=True)

#setting the semester in a variable.
sem = 'Spring'
#init a list consisting of all the years.
year = list(range(yr-1, yr - 18, -1))


#init a datafrtame for concatenation.
df_es_Spring = pd.DataFrame()

#init of loop for going through all the years files.
for i in year:
    df_es1 = pd.read_csv(str(path_es)+ str(sem)+ str(i) +'.csv', low_memory= False) #importing the respective years csv file.
    df_es_Spring = pd.concat([df_es_Spring, df_es1], axis=0) #vertically stacking all the csv files into the dataframe.


#Filter two column values to get fresh candidates.
df_es_Spring = df_es_Spring.loc[(df_es_Spring['CLAS_DESC']=='Freshman') & (df_es_Spring['STYP_DESC']=='First Time Freshman')]


#replacing existing value with a suitable replacement.
#df_es_Spring['RGRP_CODE'].replace(to_replace=['NEW_FR', 'NEWUOPI', 'SA_NEW_1', 'SA_NEW_2', 'SA_NEW_3', 'SA_UOPI_1', 'FR_ORIENT1', 'FR_ORIENT3', 'ALLREG'], value='NEW_FRESH', inplace=True)


#merging the academic grade and enrolled student datasets.
df_grfresh_Spring = df_ag_Spring.merge(df_es_Spring, on=['PIDM', 'CURR_1_1_MAJR_DESC','TERM_DESC'], how='inner')

#inspecting the count of observations and features.
df_grfresh_Spring.shape

(1160, 242)

### Summer Semester

In [5]:
#For the Academic Grades reports.
# merging the files.
joined_files_ag = os.path.join(path_ag, "academic_grades_report_cln_ug_Summer*.csv")
# A list of all joined files is returned.
joined_list_ag = glob.glob(joined_files_ag)
# Finally, the files are joined.
df_ag_Summer = pd.concat(map(pd.read_csv, joined_list_ag), ignore_index=True)
#converting the column names to upper case.
columns = df_ag_Summer.columns
df_ag_Summer.columns = [x.upper() for x in columns]

#df_ag_Summer.rename(columns={'Term_Desc':'TERM_DESC'}, inplace=True)

#setting the semester in a variable.
sem = 'Summer'
#init a list consisting of all the years.
year = list(range(yr-1, yr - 18, -1))


#init a datafrtame for concatenation.
df_es_Summer = pd.DataFrame()

#init of loop for going through all the years files.
for i in year:
    df_es1 = pd.read_csv(str(path_es)+ str(sem)+ str(i) +'.csv', low_memory= False) #importing the respective years csv file.
    df_es_Summer = pd.concat([df_es_Summer, df_es1], axis=0) #vertically stacking all the csv files into the dataframe.


#Filter two column values to get fresh candidates.
df_es_Summer = df_es_Summer.loc[(df_es_Summer['CLAS_DESC']=='Freshman') & (df_es_Summer['STYP_DESC']=='First Time Freshman')]


#replacing existing value with a suitable replacement.
#df_es_Summer['RGRP_CODE'].replace(to_replace=['NEW_FR', 'NEWUOPI', 'SA_NEW_1', 'SA_NEW_2', 'SA_NEW_3', 'SA_UOPI_1', 'FR_ORIENT1', 'FR_ORIENT3', 'ALLREG'], value='NEW_FRESH', inplace=True)


#merging the academic grade and enrolled student datasets.
df_grfresh_Summer = df_ag_Summer.merge(df_es_Summer, on=['PIDM', 'CURR_1_1_MAJR_DESC', 'TERM_DESC'], how='inner')

#inspecting the count of observations and features.
df_grfresh_Summer.shape

(84, 242)

In [6]:
#merging all the semester's datasets.
df_grfresh_allsem = pd.concat([df_grfresh_Fall, df_grfresh_Spring, df_grfresh_Summer], ignore_index = True)

In [7]:
df_grfresh_allsem.head()

,PIDM,CURR_1_DEGC_DESC_x,CURR_1_1_MAJR_DESC,TERM_CODE_x,TERM_DESC,CRN,SUBJ_CODE,CRSE_NUMB,SECT_NUMB,CRSE_TITLE,GRDE_CODE,GRDE_CODE_QLTY_PNTS,CREDIT_HR,INSTR_1_FMIL,TERM_INST_HRS_EARNED_x,TERM_INST_GPA_x,INST_HRS_EARNED_x,INST_GPA_x,GENDER_CODE,GENDER_DESC,AGE,ETHN_DESC,NEW_ETHN_CODE,NEW_ETHN_DESC,RACE_CODES,RACE_DESCS,CITZ_CODE,CITZ_DESC,VTYP_DESC,BIRTH_NATN_DESC,SPRT_1_CODE,SPRT_1_DESC,SPRT_2_CODE,SPRT_2_DESC,STDN_ATTR_CODES,STDN_ATTR_DESCS,FIRST_GEN_STDN_IND,TERM_CODE_y,TMST_CODE,TMST_DESC,RGRE_CODE,RGRE_DESC,CREDIT_HR_THIS_TERM,RGRP_CODE,INIT_ENRL_TERM_CODE,INIT_ENRL_TERM_DESC,LAST_ENRL_TERM_CODE,LAST_ENRL_TERM_DESC,LAST_TMST_DESC,TERM_CODE_EFF,TERM_DESC_EFF,STST_DESC,LEVL_CODE,LEVL_DESC,STYP_CODE,STYP_DESC,CLAS_CODE,CLAS_DESC,TERM_CODE_GRAD,TERM_DESC_GRAD,CURR_1_ADMIT_TERM_CODE,CURR_1_ADMIT_TERM_DESC,CURR_1_PROGRAM_CODE,CURR_1_PROGRAM_DESC,CURR_1_COLL_CODE,CURR_1_COLL_DESC,CURR_1_DEGC_CODE,CURR_1_DEGC_DESC_y,CURR_1_1_MAJR_CODE,CURR_1_1_DEPT_CODE,CURR_1_1_DEPT_DESC,CURR_1_1_1_CONC_CODE,CURR_1_1_1_CONC_DESC,CURR_1_1_2_CONC_CODE,CURR_1_1_2_CONC_DESC,CURR_1_1_3_CONC_CODE,CURR_1_1_3_CONC_DESC,CURR_1_2_MAJR_CODE,CURR_1_2_MAJR_DESC,CURR_1_2_DEPT_CODE,CURR_1_2_DEPT_DESC,CURR_1_2_1_CONC_CODE,CURR_1_2_1_CONC_DESC,CURR_1_2_2_CONC_CODE,CURR_1_2_2_CONC_DESC,CURR_1_2_3_CONC_CODE,CURR_1_2_3_CONC_DESC,CURR_1_1_MINR_CODE,CURR_1_1_MINR_DESC,CURR_1_2_MINR_CODE,CURR_1_2_MINR_DESC,CURR_1_REQ_CREDITS_OVRL,CURR_2_ADMIT_TERM_CODE,CURR_2_ADMIT_TERM_DESC,CURR_2_CTLG_TERM_CODE,CURR_2_CTLG_TERM_DESC,CURR_2_PROGRAM_CODE,CURR_2_PROGRAM_DESC,CURR_2_COLL_CODE,CURR_2_COLL_DESC,CURR_2_DEGC_CODE,CURR_2_DEGC_DESC,CURR_2_1_MAJR_CODE,CURR_2_1_MAJR_DESC,CURR_2_1_DEPT_CODE,CURR_2_1_DEPT_DESC,CURR_2_1_1_CONC_CODE,CURR_2_1_1_CONC_DESC,CURR_2_1_2_CONC_CODE,CURR_2_1_2_CONC_DESC,CURR_2_1_3_CONC_CODE,CURR_2_1_3_CONC_DESC,CURR_2_2_MAJR_CODE,CURR_2_2_MAJR_DESC,CURR_2_2_DEPT_CODE,CURR_2_2_DEPT_DESC,CURR_2_2_1_CONC_CODE,CURR_2_2_1_CONC_DESC,CURR_2_2_2_CONC_CODE,CURR_2_2_2_CONC_DESC,CURR_2_2_3_CONC_CODE,CURR_2_2_3_CONC_DESC,CURR_2_1_MINR_CODE,CURR_2_1_MINR_DESC,CURR_2_2_MINR_CODE,CURR_2_2_MINR_DESC,INIT_TERM_CODE_EFF,INIT_TERM_DESC_EFF,INIT_LEVL_CODE,INIT_LEVL_DESC,INIT_STYP_CODE,INIT_STYP_DESC,LAST_TERM_CODE_EFF,LAST_TERM_DESC_EFF,LAST_LEVL_CODE,LAST_LEVL_DESC,LAST_STYP_CODE,LAST_STYP_DESC,TERM_INST_HRS_ATTEMPTED,TERM_INST_HRS_EARNED_y,TERM_INST_HRS_PASSED,TERM_INST_HRS_GPA,TERM_INST_GPA_y,TERM_INST_QLTY_PNTS,TRAN_HRS_ATTEMPTED,TRAN_HRS_EARNED,TRAN_HRS_PASSED,TRAN_HRS_GPA,TRAN_GPA,TRAN_QLTY_PNTS,INST_HRS_ATTEMPTED,INST_HRS_EARNED_y,INST_HRS_PASSED,INST_HRS_GPA,INST_GPA_y,INST_QLTY_PNTS,OVRL_HRS_ATTEMPTED,OVRL_HRS_EARNED,OVRL_HRS_PASSED,OVRL_HRS_GPA,OVRL_GPA,OVRL_QLTY_PNTS,INST_GPA_AS_OF_TERM,AW_DEGR_1_DEGC_CODE,AW_DEGR_1_DEGC_DESC,AW_DEGR_1_DEGS_CODE,AW_DEGR_1_DEGS_DESC,AW_DEGR_1_LEVL_CODE,AW_DEGR_1_LEVL_DESC,AW_DEGR_1_DATE,AW_DEGR_1_CURR_1_1_MAJR_CODE,AW_DEGR_1_CURR_1_1_MAJR_DESC,AW_DEGR_1_CURR_1_2_MAJR_CODE,AW_DEGR_1_CURR_1_2_MAJR_DESC,AW_DEGR_2_DEGC_CODE,AW_DEGR_2_DEGC_DESC,AW_DEGR_2_DEGS_CODE,AW_DEGR_2_DEGS_DESC,AW_DEGR_2_LEVL_CODE,AW_DEGR_2_LEVL_DESC,AW_DEGR_2_DATE,AW_DEGR_2_CURR_1_1_MAJR_CODE,AW_DEGR_2_CURR_1_1_MAJR_DESC,AW_DEGR_2_CURR_1_2_MAJR_CODE,AW_DEGR_2_CURR_1_2_MAJR_DESC,AW_DEGR_3_DEGC_CODE,AW_DEGR_3_DEGC_DESC,AW_DEGR_3_DEGS_CODE,AW_DEGR_3_DEGS_DESC,AW_DEGR_3_LEVL_CODE,AW_DEGR_3_LEVL_DESC,AW_DEGR_3_DATE,AW_DEGR_3_CURR_1_1_MAJR_CODE,AW_DEGR_3_CURR_1_1_MAJR_DESC,AW_DEGR_3_CURR_1_2_MAJR_CODE,AW_DEGR_3_CURR_1_2_MAJR_DESC,DEGR_1_DEGC_CODE,DEGR_1_DEGC_DESC,DEGR_1_DEGS_CODE,DEGR_1_DEGS_DESC,DEGR_1_LEVL_CODE,DEGR_1_LEVL_DESC,DEGR_1_DATE,DEGR_1_CURR_1_1_MAJR_CODE,DEGR_1_CURR_1_1_MAJR_DESC,DEGR_1_CURR_1_2_MAJR_CODE,DEGR_1_CURR_1_2_MAJR_DESC,DEGR_2_DEGC_CODE,DEGR_2_DEGC_DESC,DEGR_2_DEGS_CODE,DEGR_2_DEGS_DESC,DEGR_2_LEVL_CODE,DEGR_2_LEVL_DESC,DEGR_2_DATE,DEGR_2_CURR_1_1_MAJR_CODE,DEGR_2_CURR_1_1_MAJR_DESC,DEGR_2_CURR_1_2_MAJR_CODE,DEGR_2_CURR_1_2_MAJR_DESC,DEGR_3_DEGC_CODE,DEGR_3_DEGC_DESC,DEGR_3_DEGS_CODE,DEGR_3_DEGS_DESC,DEGR_3_LEVL_CODE,DEGR_3_LEVL_DESC,DEGR_3_DATE,DEGR_3_CURR_1_1_MAJR_CODE,DEGR_3_CURR_1_1_MAJR_DESC,DEGR_3_CURR_1_2_MAJR_CODE,DEGR_3_CURR_1_2_MAJR_DESC,HS_GPA,PR_CITY,PR_STAT_CODE,PR_STAT_DESC,PR_ZIP,PR_NATN_CODE,PR_NATN_DESC,FO_CITY,FO_STAT_CODE,FO_STAT_DESC,FO_ZIP,FO_NATN_CODE,FO_NATN_DESC
0,1338859.0,B.S. in Business Admin.,Business Administration,200581,Fall 2005,80477,SPTS,011T,1,Volleyball,P,0.0,1.0,Jennifer M. Imbimbo,16.0,1.81,100.0,2.17,F,Female,34.0,African American,1.0,Not Hispanic or Latino,NaN,NaN,Y,Citizen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,200581,FT,Full Time Student,NaN,NaN,17.0,NEW_FRESH,200581,Fall 2005,201365,Prof & Cont Educ 2013-2014,Professional Development,200581,Fall 2005,Active student,UG,Undergraduate,N,First Time Freshman,FR,Freshman,200931.0,Spring 2009,200581.0,Fall 2005,NaN,NaN,BU,Eberhardt School of Business,BSBA,B.S. in Business Admin.,90,BUSI,Business Administration,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Fall 2005,UG,Undergraduate,N,First Time Freshman,201431.0,Spring 2014,UG,Undergraduate,R,Re-Admit,17.0,16.0,16.0,15.0,1.81,27.2,29.0,29.0,29.0,0.0,0.0,0.0,129.0,100.0,100.0,113.0,2.17,246.0,158.0,129.0,129.0,113.0,2.17,246.0,1.81,BSBA,B.S. in Business Admin.,AW,Awarded,UG,Undergraduate,13-Jun-14,BUAC,Business Admin - Acct Con,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BSBA,B.S. in Business Admin.,AW,Awarded,UG,Undergraduate,13-Jun-14,BUAC,Business Admin - Acct Con,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.01,San Leandro,CA,California,94577-4413,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1338859.0,B.S. in Business Admin.,Business Administration,200581,Fall 2005,80300,MATH,51,3,Calculus I,D,1.0,4.0,Christopher D. Goff,16.0,1.81,100.0,2.17,F,Female,34.0,African American,1.0,Not Hispanic or Latino,NaN,NaN,Y,Citizen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,200581,FT,Full Time Student,NaN,NaN,17.0,NEW_FRESH,200581,Fall 2005,201365,Prof & Cont Educ 2013-2014,Professional Development,200581,Fall 2005,Active student,UG,Undergraduate,N,First Time Freshman,FR,Freshman,200931.0,Spring 2009,200581.0,Fall 2005,NaN,NaN,BU,Eberhardt School of Business,BSBA,B.S. in Business Admin.,90,BUSI,Business Administration,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Fall 2005,UG,Undergraduate,N,First Time Freshman,201431.0,Spring 2014,UG,Undergraduate,R,Re-Admit,17.0,16.0,16.0,15.0,1.81,27.2,29.0,29.0,29.0,0.0,0.0,0.0,129.0,100.0,100.0,113.0,2.17,246.0,158.0,129.0,129.0,113.0,2.17,246.0,1.81,BSBA,B.S. in Business Admin.,AW,Awarded,UG,Undergraduate,13-Jun-14,BUAC,Business Admin - Acct Con,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BSBA,B.S. in Business Admin.,AW,Awarded,UG,Undergraduate,13-Jun-14,BUAC,Business Admin - Acct Con,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.01,San Leandro,CA,California,94577-4413,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1338859.0,B.S. in Business Admin.,Business Administration,200581,Fall 2005,80752,BUSI,10,2,Dean's Seminar,NC,0.0,1.0,Horst Sylvester,16.0,1.81,100.0,2.17,F,Female,34.0,African American,1.0,Not Hispanic or Latino,NaN,NaN,Y,Citizen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,200581,FT,Full Time Student,NaN,NaN,17.0,NEW_FRESH,200581,Fall 2005,201365,Prof & Cont Educ 2013-2014,Professional Development,200581,Fall 2005,Active student,UG,Undergraduate,N,First Time Freshman,FR,Freshman,200931.0,Spring 2009,200581.0,Fall 2005,NaN,NaN,BU,Eberhardt School of Business,BSBA,B.S. in Business Admin.,90,BUSI,Business Administration,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Fall 2005,UG,Undergraduate,N,First Time Freshman,201431.0,Spring 2014,UG,Undergraduate,R,Re-Admit,17.0,16.0,16.0,15.0,1.81,27.2,29.0,29.0,29.0,0.0,0.0,0.0,129.0,100.0,100.0,113.0,2.17,246.0,158.0,129.0,129.0,113.0,2.17,246.0,1.81,BSBA,B.S. in Business Admin.,AW,Awarded,UG,Undergraduate,13-Jun-14,BUAC,Business Admin - Acct Con,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BSBA,B.S. in Business Admin.,AW,Awarded,UG,Undergraduate,13-Jun-14,BUAC,Business Admin - Acct Con,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.01,San Leandro,CA,California,94577-4413,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1338859.0,B.S. in Business Admin.,Business Administration,200581,Fall 2005,81174,MENT,1,4,Mentor Seminar I,C+,2.3,4.0,Amy J. Mattheis,16.0,1.81,100.0,2.17,F,Female,34.0,African American,1.0,Not Hispanic or Latino,NaN,NaN,Y,Citizen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,200581,FT,Full Time Student,NaN,NaN,17.0,NEW_FRESH,200581,Fall 2005,201365,Prof & Cont Educ 2013-2014,Professional Development,200581,Fall 2005,Active student,UG,Undergraduate,N,First Time Freshman,FR,Freshman,200931.0,Spring 2009,200581.0,Fall 2005,NaN,NaN,BU,Eberhardt School of Business,BSBA,B.S. in Business Admin.,90,BUSI,Business Administration,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Fall 2005,UG,Undergraduate,N,First Time Freshman,201431.0,Spring 2014,UG,Undergraduate,R,Re-Admit,17.0,16.0,16.0,15.0,1.81,27.2,29.0,29.0,29.0,0.0,0.0,0.0,129.0,100.0,100.0,113.0,2.17,246.0,158.0,129.0,129.0,113.0,2.17,246.0,1.81,BSBA,B.S. in Business Admin.,AW,Awarded,UG,Undergraduate,13-Jun-14,BUAC,Business Admin - Acct Con,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BSBA,B.S. in Business Admin.,AW,Awarded,UG,Undergraduate,13-Jun-14,BUAC,Business Admin - Acct Con,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.01,San Leandro,CA,California,94577-4413,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1338859.0,B.S. in Business Admin.,Business Administration,200581,Fall 2005,83463,COMM,27,2,Public Speaking,C,2.0,3.0,Marlin C. Bates,16.0,1.81,100.0,2.17,F,Female,34.0,African American,1.0,Not Hispanic or Latino,NaN,NaN,Y,Citizen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,200581,FT,Full Time Student,NaN,NaN,17.0,NEW_FRESH,200581,Fall 2005,201365,Prof & Cont Educ 2013-2014,Professional Development,200581,Fall 2005,Active student,UG,Undergraduate,N,First Time Freshman,FR,Freshman,200931.0,Spring 2009,200581.0,Fall 2005,NaN,NaN,BU,Eberhardt School of Business,BSBA,B.S. in Business Admin.,90,BUSI,Business Administration,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Fall 2005,UG,Undergraduate,N,First Time Freshman,201431.0,Spring 2014,UG,Undergraduate,R,Re-Admit,17.0,16.0,16.0,15.0,1.81,27.2,29.0,29.0,29.0,0.0,0.0,0.0,129.0,100.0,100.0,113.0,2.17,246.0,158.0,129.0,129.0,113.0,2.17,246.0,1.81,BSBA,B.S. in Business Admin.,AW,Awarded,UG,Undergraduate,13-Jun-14,BUAC,Business Admin - Acct Con,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BSBA,B.S. in Business Admin.,AW,Awarded,UG,Undergraduate,13-Jun-14,BUAC,Business Admin - Acct Con,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.01,San Leandro,CA,California,94577-4413,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#inspecting the unique values of Citizen column.
df_grfresh_allsem['CITZ_DESC'].unique()

array(['Citizen', 'Non-Citizen', 'Permanent Resident', nan], dtype=object)

In [9]:
#filling the missing values.
df_grfresh_allsem['CITZ_DESC'].fillna(value='Unknown' ,inplace= True)
#init of a dictionary with replacement of the unique values.
student_type_dict = {'Non-Citizen' : 'International', 'Citizen': 'Domestic', 'Permanent Resident' : 'Domestic', 'Unknown' : 'Unknown'}
#mapping the replacement of the values in new column.
df_grfresh_allsem['STUD_TYPE'] = df_grfresh_allsem['CITZ_DESC'].map(student_type_dict)
#inspection after transformation.
df_grfresh_allsem['STUD_TYPE'].unique()

array(['Domestic', 'International', 'Unknown'], dtype=object)

In [10]:
#inspecting the unique values of Ethnicity column.
df_grfresh_allsem['ETHN_DESC'].unique()

array(['African American', 'Asian/Pacific Islander', 'White/Non-Hispanic',
       'Hispanic', '2 or more races', 'Asian', 'Unknown/Other',
       'Native American', nan, 'Ntv Hawaiian or Pacific Islndr'],
      dtype=object)

In [11]:
#filling the missing values.
df_grfresh_allsem['ETHN_DESC'].fillna(value='Unknown' ,inplace= True)
#replacing existing value with a suitable replacement.
df_grfresh_allsem['ETHN_DESC'].replace(to_replace='Unknown/Other', value='Unknown', inplace= True)
df_grfresh_allsem['ETHN_DESC'].replace(to_replace='2 or more races', value='Biracial', inplace= True)
df_grfresh_allsem['ETHN_DESC'].replace(to_replace=['Asian/Pacific Islander', 'Ntv Hawaiian or Pacific Islndr'], value='Native Hawaiian, and Other Pacific Islander', inplace= True)
#inspection after transformation.
df_grfresh_allsem['ETHN_DESC'].unique()

array(['African American', 'Native Hawaiian, and Other Pacific Islander',
       'White/Non-Hispanic', 'Hispanic', 'Biracial', 'Asian', 'Unknown',
       'Native American'], dtype=object)

In [12]:
#joining values to create a new column.
df_grfresh_allsem['CRSE_NAME_CODE'] = df_grfresh_allsem['SUBJ_CODE'].map(str) + df_grfresh_allsem['CRSE_NUMB'].map(str)
#separating colum value to two new column.
df_grfresh_allsem[['SEMESTER', 'YEAR']] = df_grfresh_allsem['TERM_DESC'].str.extract(r'(.+) (\d+)')

In [13]:
#filtering to get only the features needed in the final dataframe.
df_final = df_grfresh_allsem[['PIDM','CURR_1_1_MAJR_DESC','CURR_1_DEGC_DESC_x', 'CURR_1_COLL_DESC', 'CURR_1_1_DEPT_DESC','CRSE_NAME_CODE', 'CRSE_TITLE', 'CRN', 'INSTR_1_FMIL', 'INST_GPA_x', 'TERM_INST_GPA_x','SEMESTER', 'YEAR', 'GENDER_DESC', 'ETHN_DESC', 'STUD_TYPE', 'PR_CITY', 'PR_STAT_CODE','PR_NATN_DESC']]

In [14]:
#printing sample of the dataframe.
df_final.head(10)

,PIDM,CURR_1_1_MAJR_DESC,CURR_1_DEGC_DESC_x,CURR_1_COLL_DESC,CURR_1_1_DEPT_DESC,CRSE_NAME_CODE,CRSE_TITLE,CRN,INSTR_1_FMIL,INST_GPA_x,TERM_INST_GPA_x,SEMESTER,YEAR,GENDER_DESC,ETHN_DESC,STUD_TYPE,PR_CITY,PR_STAT_CODE,PR_NATN_DESC
0,1338859.0,Business Administration,B.S. in Business Admin.,Eberhardt School of Business,Business Administration,SPTS011T,Volleyball,80477,Jennifer M. Imbimbo,2.17,1.81,Fall,2005,Female,African American,Domestic,San Leandro,CA,NaN
1,1338859.0,Business Administration,B.S. in Business Admin.,Eberhardt School of Business,Business Administration,MATH51,Calculus I,80300,Christopher D. Goff,2.17,1.81,Fall,2005,Female,African American,Domestic,San Leandro,CA,NaN
2,1338859.0,Business Administration,B.S. in Business Admin.,Eberhardt School of Business,Business Administration,BUSI10,Dean's Seminar,80752,Horst Sylvester,2.17,1.81,Fall,2005,Female,African American,Domestic,San Leandro,CA,NaN
3,1338859.0,Business Administration,B.S. in Business Admin.,Eberhardt School of Business,Business Administration,MENT1,Mentor Seminar I,81174,Amy J. Mattheis,2.17,1.81,Fall,2005,Female,African American,Domestic,San Leandro,CA,NaN
4,1338859.0,Business Administration,B.S. in Business Admin.,Eberhardt School of Business,Business Administration,COMM27,Public Speaking,83463,Marlin C. Bates,2.17,1.81,Fall,2005,Female,African American,Domestic,San Leandro,CA,NaN
5,1338859.0,Business Administration,B.S. in Business Admin.,Eberhardt School of Business,Business Administration,ECON53,Introductory Microeconomics,80217,William E. Herrin,2.17,1.81,Fall,2005,Female,African American,Domestic,San Leandro,CA,NaN
6,1375776.0,Business Administration,B.S. in Business Admin.,Eberhardt School of Business,Business Administration,CHIN011A,"First Year Chinese, 1st Sem.",80315,Xujun Feng,3.34,3.50,Fall,2005,Male,"Native Hawaiian, and Other Pacific Islander",Domestic,San Francisco,CA,NaN
7,1375776.0,Business Administration,B.S. in Business Admin.,Eberhardt School of Business,Business Administration,MATH45,Intro. to Finite Math & Calc.,80295,Margaret E. Rosasco,3.34,3.50,Fall,2005,Male,"Native Hawaiian, and Other Pacific Islander",Domestic,San Francisco,CA,NaN
8,1375776.0,Business Administration,B.S. in Business Admin.,Eberhardt School of Business,Business Administration,BUSI10,Dean's Seminar,80752,Horst Sylvester,3.34,3.50,Fall,2005,Male,"Native Hawaiian, and Other Pacific Islander",Domestic,San Francisco,CA,NaN
9,1375776.0,Business Administration,B.S. in Business Admin.,Eberhardt School of Business,Business Administration,ECON53,Introductory Microeconomics,81481,J. Farley Staniec,3.34,3.50,Fall,2005,Male,"Native Hawaiian, and Other Pacific Islander",Domestic,San Francisco,CA,NaN

In [15]:
df_final.loc[:, 'PIDM'] = df_final.loc[:,'PIDM'].fillna(0).astype('int')

C:\Users\nimit\AppData\Local\Temp\ipykernel_1324\3401214244.py:1: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_final.loc[:, 'PIDM'] = df_final.loc[:,'PIDM'].fillna(0).astype('int')

In [16]:
#init a list with all the state codes of United States.
state_list = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DC", "DE", "FL", "GA", "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]
#joining the list of state codes.
pat = r'\b{}\b'.format('|'.join(state_list))
#replacing the value in the column 'PR_NATN_DESC' based on the given conditions.
df_final.loc[df_final.PR_STAT_CODE.str.contains(pat, na=False), 'PR_NATN_DESC'] = 'United States'
#replacing the value in the column 'PR_NATN_DESC' based on the other column values.
df_final.loc[df_final.STUD_TYPE == 'Domestic', 'PR_NATN_DESC'] = 'United States'
#replacing the value in the column 'STUD_TYPE' based on the column values of 'PR_NATN_DESC.
df_final.loc[df_final.PR_NATN_DESC == 'United States', 'STUD_TYPE'] = 'Domestic'

In [17]:
#replacing the value in the column 'STUD_TYPE' based on the column values of 'PR_NATN_DESC.
df_final.loc[(df_final['PR_NATN_DESC']!='United States') & (pd.notnull(df_final['PR_NATN_DESC']) & (df_final['PR_NATN_DESC']!='Unknown')), 'STUD_TYPE'] = 'International'

In [18]:
#replacing existing value with a suitable replacement.
df_final.loc[(df_final.PR_CITY == 'Tokyo, Japan'), 'PR_CITY'] = 'Tokyo'
#init a dict for PR_NTAN_DESC key-value pair.
state_country = {'Tokyo':'Japan', 'Port Moody':'Canada', 'Ottawa':'Canada'}
#mapping the replacement of the values in dataframe.
df_final.loc[(df_final.PR_NATN_DESC.isnull()), 'PR_NATN_DESC'] = df_final['PR_CITY'].map(state_country)

In [19]:
#filling the missing values.
df_final.loc[df_final['PR_CITY'].isnull(), 'PR_CITY'] = 'Unknown'
df_final.loc[:,'PR_NATN_DESC'].fillna(value='Unknown', inplace=True)
df_final.loc[df_final['PR_STAT_CODE'].isnull(), 'PR_STAT_CODE'] = 'Unknown'
df_final.loc[df_final['INSTR_1_FMIL'].isnull(), 'INSTR_1_FMIL'] = 0
df_final.loc[df_final['INST_GPA_x'].isnull(), 'INST_GPA_x'] = 0
df_final.loc[df_final['TERM_INST_GPA_x'].isnull(), 'TERM_INST_GPA_x'] = 0

In [20]:
#renaming the column features.
df_final.rename(columns={'CURR_1_1_MAJR_DESC':'DEGREE_MAJOR', 'CURR_1_DEGC_DESC_x':'CURRICULUM_DEGREE', 'CURR_1_COLL_DESC':'DEGREE_COLLEGE_NAME', 'CURR_1_1_DEPT_DESC':'MAJOR_DEPARTMENT_DESC', 'Crse_Title': 'CRSE_TITLE', 'Instr_1_FMIL':'CRSE_INSTRUCTOR',
                          'TERM_INST_GPA_x':'TERM_INST_GPA', 'INST_GPA_x':'INST_GPA'}, inplace=True)

In [21]:
#printing sample of the dataframe.
df_final.head()

,PIDM,DEGREE_MAJOR,CURRICULUM_DEGREE,DEGREE_COLLEGE_NAME,MAJOR_DEPARTMENT_DESC,CRSE_NAME_CODE,CRSE_TITLE,CRN,INSTR_1_FMIL,INST_GPA,TERM_INST_GPA,SEMESTER,YEAR,GENDER_DESC,ETHN_DESC,STUD_TYPE,PR_CITY,PR_STAT_CODE,PR_NATN_DESC
0,1338859,Business Administration,B.S. in Business Admin.,Eberhardt School of Business,Business Administration,SPTS011T,Volleyball,80477,Jennifer M. Imbimbo,2.17,1.81,Fall,2005,Female,African American,Domestic,San Leandro,CA,United States
1,1338859,Business Administration,B.S. in Business Admin.,Eberhardt School of Business,Business Administration,MATH51,Calculus I,80300,Christopher D. Goff,2.17,1.81,Fall,2005,Female,African American,Domestic,San Leandro,CA,United States
2,1338859,Business Administration,B.S. in Business Admin.,Eberhardt School of Business,Business Administration,BUSI10,Dean's Seminar,80752,Horst Sylvester,2.17,1.81,Fall,2005,Female,African American,Domestic,San Leandro,CA,United States
3,1338859,Business Administration,B.S. in Business Admin.,Eberhardt School of Business,Business Administration,MENT1,Mentor Seminar I,81174,Amy J. Mattheis,2.17,1.81,Fall,2005,Female,African American,Domestic,San Leandro,CA,United States
4,1338859,Business Administration,B.S. in Business Admin.,Eberhardt School of Business,Business Administration,COMM27,Public Speaking,83463,Marlin C. Bates,2.17,1.81,Fall,2005,Female,African American,Domestic,San Leandro,CA,United States

In [22]:
df_final.columns

Index(['PIDM', 'DEGREE_MAJOR', 'CURRICULUM_DEGREE', 'DEGREE_COLLEGE_NAME',
       'MAJOR_DEPARTMENT_DESC', 'CRSE_NAME_CODE', 'CRSE_TITLE', 'CRN',
       'INSTR_1_FMIL', 'INST_GPA', 'TERM_INST_GPA', 'SEMESTER', 'YEAR',
       'GENDER_DESC', 'ETHN_DESC', 'STUD_TYPE', 'PR_CITY', 'PR_STAT_CODE',
       'PR_NATN_DESC'],
      dtype='object')

### Crse title & name

In [23]:
#init a dictionary for CourseCode & CourseTitle as key-value pair.
CrseCode_Title_list = dict(zip(df_final['CRSE_NAME_CODE'], df_final['CRSE_TITLE']))
#converting dictionary into dataframe.
df_CrseTitle = pd.DataFrame(CrseCode_Title_list.items(), columns=['CRSE_NAME_CODE', 'CRSE_TITLE'])
#sorting the dataframe.
df_CrseTitle.sort_values(by=['CRSE_TITLE'], inplace=True)
#printing sample of the dataframe.
df_CrseTitle.head()

    CRSE_NAME_CODE                      CRSE_TITLE
383        HIST137                 "HIS-PANIC" USA
432        ARTH112       19th Century European Art
363       HBRW011A   1st Yr Classical Hebrew Sem 1
89        GREK011A  1st Yr. Ancient Greek, 1st Sem
100       INTL077L  20 Cent. through Documentaries

In [24]:
# saving the dataframe
df_CrseTitle.to_csv('PostProcessed\CourseCode-Title.csv')

### Student Demographics

In [25]:
#filtering and aggregating for the demographic data.
df_stud_dgph = df_final.groupby(['PIDM','GENDER_DESC','ETHN_DESC','STUD_TYPE','SEMESTER', 'YEAR', 'DEGREE_MAJOR','MAJOR_DEPARTMENT_DESC','CURRICULUM_DEGREE','DEGREE_COLLEGE_NAME','PR_CITY','PR_STAT_CODE','PR_NATN_DESC'])['TERM_INST_GPA'].mean().reset_index()
#dropping unwanted column.
#df_stud_dgph.drop(columns=['TERM_INST_GPA'], inplace = True)
#printing sample of the dataframe.
df_stud_dgph.head()

,PIDM,GENDER_DESC,ETHN_DESC,STUD_TYPE,SEMESTER,YEAR,DEGREE_MAJOR,MAJOR_DEPARTMENT_DESC,CURRICULUM_DEGREE,DEGREE_COLLEGE_NAME,PR_CITY,PR_STAT_CODE,PR_NATN_DESC,TERM_INST_GPA
0,23911,Male,Hispanic,Domestic,Fall,2014,Business Admin - Finc Con,Business Administration,B.S. in Business Admin.,Eberhardt School of Business,Stockton,CA,United States,3.34
1,108571,Female,White/Non-Hispanic,Domestic,Summer II,2007,Chemistry-Biology,Cross-Disciplinary,Bachelor of Science,College of the Pacific,Boulder City,NV,United States,0.00
2,917526,Female,White/Non-Hispanic,Domestic,Fall,2021,Mechanical Engineering,Mechanical Engineering,B.S. in Mechanical Engineering,Sch of Engineering & Comp Sci,Stockton,CA,United States,0.00
3,988670,Male,Hispanic,Domestic,Fall,2007,Exploratory (COP),Exploratory (COP),Bachelor of Arts,College of the Pacific,Stockton,CA,United States,2.44
4,1007675,Female,"Native Hawaiian, and Other Pacific Islander",Domestic,Fall,2006,Bioengineering,Electrical & Computer Engr.,B.S. in Bioengineering,Sch of Engineering & Comp Sci,Sacramento,CA,United States,1.71

In [26]:
# saving the dataframe
df_stud_dgph.to_csv('PostProcessed\Student_Demographics.csv')

### Student Count By Majors

In [27]:
#Grouping the dataset by Majors and counting number of students respectively
df_StudentCount = df_final.groupby(['DEGREE_MAJOR', 'YEAR', 'SEMESTER'])['PIDM'].nunique().reset_index()
#renaming column.
df_StudentCount.rename(columns={'PIDM':'CRSE_STUD_COUNT'}, inplace=True)
#Init of tuple for student count
list_StudentCountByMajors = dict(zip(df_StudentCount.DEGREE_MAJOR + ',' + df_StudentCount.YEAR + ',' + df_StudentCount.SEMESTER, df_StudentCount.CRSE_STUD_COUNT))
#converting dictionary into dataframe.
df_StudentCountByMajors = pd.DataFrame(list_StudentCountByMajors.items(), columns=['DEGREE_MAJOR', 'MAJOR_STUD_COUNT'])

In [28]:
#printing sample of the dataframe.
df_StudentCountByMajors.head()

                  DEGREE_MAJOR  MAJOR_STUD_COUNT
0         Accounting,2018,Fall                 1
1         Accounting,2021,Fall                 6
2       Accounting,2021,Spring                 1
3       Accounting,2022,Spring                 1
4  Actuarial Science,2017,Fall                 1

### Class Count By Course

In [29]:
#filtering and aggregating for the class count data.
df_ClassCountByCourse = df_final.groupby(['DEGREE_MAJOR', 'CRSE_NAME_CODE', 'SEMESTER', 'YEAR'])['CRN'].nunique().reset_index()
#renaming column.
df_ClassCountByCourse.rename(columns={'PIDM':'CRSE_STUD_COUNT'}, inplace=True)

In [30]:
#printing sample of the dataframe.
df_ClassCountByCourse.head(10)

  DEGREE_MAJOR CRSE_NAME_CODE SEMESTER  YEAR  CRN
0   Accounting         BINT11   Spring  2022    1
1   Accounting         BINT31     Fall  2021    1
2   Accounting         BINT31   Spring  2022    1
3   Accounting         BIOL51     Fall  2021    1
4   Accounting         BUSI10     Fall  2018    1
5   Accounting         BUSI10     Fall  2021    1
6   Accounting         BUSI31     Fall  2018    1
7   Accounting         BUSI31     Fall  2021    2
8   Accounting         BUSI53     Fall  2021    4
9   Accounting         COMM27     Fall  2021    1

In [31]:
#Init of tuple for class count on CRN.
list_ClassCountByCourses = dict(zip(df_ClassCountByCourse.DEGREE_MAJOR + ',' + df_ClassCountByCourse.CRSE_NAME_CODE + ',' + df_ClassCountByCourse.SEMESTER + ',' + df_ClassCountByCourse.YEAR, df_ClassCountByCourse.CRN))

### Student Count By Course

In [32]:
#filtering and aggregating for the class count data.
df_StudentWOCRNCountByCourse = df_final.groupby(['DEGREE_MAJOR', 'CRSE_NAME_CODE', 'SEMESTER', 'YEAR'])['PIDM'].nunique().reset_index()
#renaming column.
df_StudentWOCRNCountByCourse.rename(columns={'PIDM':'CRSE_STUD_COUNT'}, inplace=True)

In [33]:
#printing sample of the dataframe.
df_StudentWOCRNCountByCourse.head(20)

   DEGREE_MAJOR CRSE_NAME_CODE SEMESTER  YEAR  CRSE_STUD_COUNT
0    Accounting         BINT11   Spring  2022                1
1    Accounting         BINT31     Fall  2021                1
2    Accounting         BINT31   Spring  2022                1
3    Accounting         BIOL51     Fall  2021                1
4    Accounting         BUSI10     Fall  2018                1
5    Accounting         BUSI10     Fall  2021                6
6    Accounting         BUSI31     Fall  2018                1
7    Accounting         BUSI31     Fall  2021                5
8    Accounting         BUSI53     Fall  2021                4
9    Accounting         COMM27     Fall  2021                1
10   Accounting         COMM27   Spring  2021                1
11   Accounting         COMM27   Spring  2022                1
12   Accounting          CORE1     Fall  2021                6
13   Accounting          CORE1   Spring  2022                1
14   Accounting         ECON53     Fall  2021                1
15   Accounting       MATH005E   Spring  2021                1
16   Accounting          MATH4     Fall  2021                1
17   Accounting         MATH45     Fall  2018                1
18   Accounting         MATH45     Fall  2021                1
19   Accounting         MMGT11     Fall  2021                2

In [34]:
#Init of tuple for student count without CRN.
list_StudentCountByCourses = dict(zip(df_StudentWOCRNCountByCourse.DEGREE_MAJOR + ',' + df_StudentWOCRNCountByCourse.CRSE_NAME_CODE + ',' + df_StudentWOCRNCountByCourse.SEMESTER + ',' + df_StudentWOCRNCountByCourse.YEAR, df_StudentWOCRNCountByCourse.CRSE_STUD_COUNT))

### Student Count By Course & Information

In [35]:
#filtering and aggregating for the class count data.
df_StudentCountByCourse = df_final.groupby(['DEGREE_MAJOR', 'CRSE_NAME_CODE', 'CRN', 'INSTR_1_FMIL', 'SEMESTER', 'YEAR'])['PIDM'].count().reset_index()
#dropping column.
df_StudentCountByCourse.drop(columns=['PIDM'],inplace=True)

In [36]:
#mapping the student count from the dict to the new dataframe.
df_StudentCountByCourse['CRSE_STUD_COUNT'] = (df_StudentCountByCourse['DEGREE_MAJOR'] + ',' + df_StudentCountByCourse['CRSE_NAME_CODE'] + ',' + df_StudentCountByCourse['SEMESTER'] + ',' + df_StudentCountByCourse['YEAR']).map(list_StudentCountByCourses)
#calculating the percentage from the dict to the new dataframe.
df_StudentCountByCourse['PERCT'] = round(100*df_StudentCountByCourse['CRSE_STUD_COUNT']/(df_StudentCountByCourse['DEGREE_MAJOR'] + ',' + df_StudentCountByCourse['YEAR']+ ',' + df_StudentCountByCourse['SEMESTER']).map(list_StudentCountByMajors),2)
#mapping the class count from the dict to the new dataframe.
df_StudentCountByCourse['CRSE_CLASS_COUNT'] = (df_StudentCountByCourse['DEGREE_MAJOR'] + ',' + df_StudentCountByCourse['CRSE_NAME_CODE'] + ',' + df_StudentCountByCourse['SEMESTER'] + ',' + df_StudentCountByCourse['YEAR']).map(list_ClassCountByCourses)

In [37]:
df_StudentCountByCourse.rename(columns={'INSTR_1_FMIL':'CRSE_INSTRUCTOR'}, inplace=True)

In [38]:
#printing sample of the dataframe.
df_StudentCountByCourse.head(20)

,DEGREE_MAJOR,CRSE_NAME_CODE,CRN,CRSE_INSTRUCTOR,SEMESTER,YEAR,CRSE_STUD_COUNT,PERCT,CRSE_CLASS_COUNT
0,Accounting,BINT11,32645,Emily Embree,Spring,2022,1,100.00,1
1,Accounting,BINT31,32640,Maad El Gali,Spring,2022,1,100.00,1
2,Accounting,BINT31,82533,Elizabeth R. Dickie,Fall,2021,1,16.67,1
3,Accounting,BIOL51,82741,Mark Brunell,Fall,2021,1,16.67,1
4,Accounting,BUSI10,81101,Cynthia F. Eakin,Fall,2021,6,100.00,1
5,Accounting,BUSI10,81821,David M. Harris,Fall,2018,1,100.00,1
6,Accounting,BUSI31,80575,Ruonan Liu,Fall,2021,5,83.33,2
7,Accounting,BUSI31,80706,Ruonan Liu,Fall,2021,5,83.33,2
8,Accounting,BUSI31,81079,Ruonan Liu,Fall,2018,1,100.00,1
9,Accounting,BUSI53,80158,Dylan Zorea,Fall,2021,4,66.67,4
10,Accounting,BUSI53,80303,Thomas D. Brierton,Fall,2021,4,66.67,4
11,Accounting,BUSI53,82225,Dylan Zorea,Fall,2021,4,66.67,4
12,Accounting,BUSI53,82226,Dylan Zorea,Fall,2021,4,66.67,4
13,Accounting,COMM27,31414,Gino Giannini,Spring,2022,1,100.00,2
14,Accounting,COMM27,32731,Gino Giannini,Spring,2022,1,100.00,2
15,Accounting,COMM27,35647,Jeremy Johnson,Spring,2021,1,100.00,1
16,Accounting,COMM27,80247,Gino Giannini,Fall,2021,1,16.67,1
17,Accounting,CORE1,32753,Rex E. Hamilton,Spring,2022,1,100.00,1
18,Accounting,CORE1,82541,Rex E. Hamilton,Fall,2021,6,100.00,6
19,Accounting,CORE1,82546,Alan Lenzi,Fall,2021,6,100.00,6

In [39]:
# saving the dataframe
df_StudentCountByCourse.to_csv('PostProcessed\StudentCount_Courses.csv')

### Student Count By Majors (continued)

In [40]:
#splitting into two columns in a new dataframe.
df_StudentCountByMajors[['DEGREE_MAJOR2','YEAR','SEMESTER']] = df_StudentCountByMajors['DEGREE_MAJOR'].str.extract(r'(.+),(\d+),(.+)')
#dropping unwanted columns
df_StudentCountByMajors.drop(columns=['DEGREE_MAJOR'],inplace=True)
#renaming column.
df_StudentCountByMajors.rename(columns={'DEGREE_MAJOR2':'DEGREE_MAJOR'}, inplace=True)
#rearranging the order of columns
df_StudentCountByMajors = df_StudentCountByMajors.iloc[:,[1,2,3,0]]

In [41]:
df_StudentCountByMajors.head()

        DEGREE_MAJOR  YEAR SEMESTER  MAJOR_STUD_COUNT
0         Accounting  2018     Fall                 1
1         Accounting  2021     Fall                 6
2         Accounting  2021   Spring                 1
3         Accounting  2022   Spring                 1
4  Actuarial Science  2017     Fall                 1

In [42]:
# saving the dataframe
df_StudentCountByMajors.to_csv('PostProcessed\StudentCount_Majors.csv')

### Academic Information

In [43]:
#dropping the unwanted columns.
df_final.drop(columns=['CRN', 'INSTR_1_FMIL', 'CRSE_TITLE', 'CURRICULUM_DEGREE', 'DEGREE_COLLEGE_NAME','MAJOR_DEPARTMENT_DESC','GENDER_DESC','ETHN_DESC','STUD_TYPE', 'PR_CITY','PR_STAT_CODE','PR_NATN_DESC'], inplace=True)

In [44]:
df_final.rename(columns={'INST_GPA':'INST_GPA_x'}, inplace=True)

In [45]:
#printing sample of the dataframe.
df_final.head()

,PIDM,DEGREE_MAJOR,CRSE_NAME_CODE,INST_GPA_x,TERM_INST_GPA,SEMESTER,YEAR
0,1338859,Business Administration,SPTS011T,2.17,1.81,Fall,2005
1,1338859,Business Administration,MATH51,2.17,1.81,Fall,2005
2,1338859,Business Administration,BUSI10,2.17,1.81,Fall,2005
3,1338859,Business Administration,MENT1,2.17,1.81,Fall,2005
4,1338859,Business Administration,COMM27,2.17,1.81,Fall,2005

In [46]:
# saving the dataframe
df_final.to_csv('PostProcessed\Student_AcademicInfo.csv')